@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@layer theme, base, components, utilities;

@theme {
  /* Fonts */
  --font-roboto: "Roboto", sans-serif;

  /* Color Scheme */

  /* Background Color */
  --color-bg: #fbfbfb;
  --color-card-blue: #0070a4;
  --color-card-green: #01a48b;
  --color-card-red: #e84e4e;
}

/* Add your custom base styles here */
@layer base {
  h1 {
    @apply font-roboto text-4xl font-bold text-black;
  }

  h2 {
    @apply font-roboto text-2xl font-semibold text-[#1692EC];
  }

  p {
    @apply font-roboto leading-relaxed;
  }

  a {
    @apply text-blue-500 hover:text-blue-700 underline;
  }
}
